body {
  font-family: Tahoma, sans-serif;
  background-color: #EBF2E6; 
  margin: 0;
  display: flex;
  justify-content: center; /* Horizontally centers the content */
  align-items: flex-start; /* Vertically centers the content */
  height: 100vh;
}