.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  margin-top: 40px;
  margin-left: 10px;
  margin-right: 10px;
}

.header img {
  width: 100px;
  height: 100px;
}

.header h1 {
  margin-left: 40px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 3rem;
  color: #000000; 
}

.header h1 span {
  color: #522334; 
}