.not-found {
  text-align: center;
  margin-top: 50px;
}

.not-found img {
  width: 350px;
  height: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.not-found h1 {
  font-size: 4rem;
  color: #522334; 
}

.not-found p {
  margin-top: 20px;
  font-size: 1.5rem;
  color: #373737; 
}

.home-link {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #522334;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

.home-link:hover {
  text-decoration: underline;
}

/* Responsive layout */
@media screen and (max-width: 1000px){
  .not-found img {
    width: 250px;
    height: 200px;
  }

  @media screen and (max-height: 875px){
    .not-found{
      margin-top: 10px;
    }

    .not-found h1 {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .not-found p {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
}